body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.text-uppercase {
  text-transform: uppercase;
}

.list-unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  display: block;
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #eeeeee;
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 50px;
  min-height: 70px;
  background-color: #eeeeee;
}

.main-header-logo {
  width: 160px;
  height: 65px;
}

.main-header-logo:hover img,
.main-header-logo:focus img {
  opacity: 0.8;
}

.main-header-logo:active img {
  opacity: 0.3;
}

.main-navigation-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 26px;
  width: 800px;
  min-height: 37px;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin: 0;
  width: 440px;
  text-align: center;
}

.site-navigation li {
  margin-left: 45px;
  height: 38px;
  text-align: left;
}

.site-navigation li:nth-of-type(4n+1) {
  margin-left: 0;
}

.site-navigation a,
a.cart {
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  font-weight: 500;
  border-bottom: 2px solid transparent;
}

.site-navigation a:hover,
a.cart:hover {
  color: #fb565a;
}

.site-navigation a:active,
.site-navigation a:focus,
a.cart:active,
a.cart:focus {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation a.active,
a.cart.active {
  border-color: #fb565a;
}

a.cart {
  padding-left: 40px;
  position: relative;
}

a.cart::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  width: 15px;
  height: 15px;
  background: url("../img/cart-icon.svg") no-repeat;
}

.slider {
  position: relative;
  margin-bottom: 80px;
  min-width: 1200px;
  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 20;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slider-controls label {
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  padding: 8px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-item {
  display: none;
  padding: 80px 0 80px 0;
}

.slider-item:nth-child(1) {
  background-image: url("../img/nerds-index-slide1.png");
  background-repeat: no-repeat;
  background-position: 99.3% -2px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/nerds-index-slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/nerds-index-slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

.product-1:checked~.slider-list .slider-item:nth-child(1) {
  display: block;
}

.product-2:checked~.slider-list .slider-item:nth-child(2) {
  display: block;
}

.product-3:checked~.slider-list .slider-item:nth-child(3) {
  display: block;
}

.product-1:checked~.slider-controls .slider-controls-item--1::before,
.product-2:checked~.slider-controls .slider-controls-item--2::before,
.product-3:checked~.slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  margin: -4px;
  width: 4px;
  height: 4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  max-width: 600px;
  margin: -4px 0 27px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.button {
  display: table-cell;
  padding: 17px 54px;
  border: none;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #fb565a;
  border-radius: 3px;
  cursor: pointer;
}

.button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
          box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.services {
  margin-bottom: 80px;
}

.services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1105px;
}

.service-site,
.service-application,
.service-presentation {
  padding-top: 145px;
  width: 305px;
  min-height: 178px;
  background-position: left top;
}

.services h3 {
  margin-top: 25px;
  margin-bottom: 0px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.services p {
  margin-right: auto;
  margin-bottom: 29px;
  max-width: 265px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.service-site {
  background-image: url("../img/illustration-1.jpg");
  background-repeat: no-repeat;
}

.button-order {
  padding: 17px 40px;
}

.order-site-button {
  background-color: #fb565a;
}

.order-site-button:hover {
  background-color: #e74246;
}

.order-site-button:active {
  background-color: #d7373b;
}

.service-application {
  background-image: url("../img/illustration-2.jpg");
  background-repeat: no-repeat;
}

.order-application-button {
  background-color: #00ca74;
}

.order-application-button:hover {
  background-color: #00bc6c;
}

.order-application-button:active {
  background-color: #00aa62;
}

.service-presentation {
  background-image: url("../img/illustration-3.jpg");
  background-repeat: no-repeat;
}

.order-presentation-button {
  background-color: #efc84a;
}

.order-presentation-button:hover {
  background-color: #eab534;
}

.order-presentation-button:active {
  background-color: #e5a722;
}

.studio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
  padding-top: 40px;
  border-top: 2px solid #eeeeee;
}

.studio-left {
  width: 760px;
}

.studio-left b {
  display: inline-block;
  vertical-align: top;
  margin-top: 32px;
  margin-bottom: 15px;
  font-size: 45px;
  line-height: 47px;
  font-weight: 500;
}

.studio-left p {
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.studio-left h3 {
  margin-bottom: 23px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.studio-left li {
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.studio-left li::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}

.studio-left-text {
  max-width: 665px;
}

.studio-right {
  padding-top: 242px;
  margin-left: 83px;
  width: 380px;
  background-image: url("../img/nerds-illustration.jpg");
  background-repeat: no-repeat;
}

.studio-table {
  width: 100%;
}

.studio-table caption {
  margin-bottom: 33px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.studio-table td {
  width: auto;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}

.studio-table-percent > td {
  padding-bottom: 10px;
  width: 33.3%;
  vertical-align: top;
  font-size: 45px;
  line-height: 1.4;
  font-weight: 500;
}

.studio-table-percent sup {
  top: 0;
  font-size: 24px;
  line-height: 1;
  vertical-align: super;
}

.partners {
  border-style: solid;
  border-width: 2px 0;
  border-color: #eeeeee;
}

.partners-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.partners-logo img {
  display: block;
  opacity: 0.3;
}

.partners-logo img:hover {
  opacity: 1;
}

.partners-logo img:active {
  opacity: 0.1;
}

.main-footer {
  margin-top: 80px;
}

.footer-map {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 65px;
  padding-top: 55px;
  padding-bottom: 55px;
  min-width: 1200px;
  min-height: 310px;
  background-image: url(../img/map.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1440px auto;
}

.contacts {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 45px;
  width: 320px;
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contacts-name {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 18px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.contacts-addres {
  margin-bottom: 20px;
  width: 210px;
  font-size: 16px;
  line-height: 18px;
  font-style: normal;
}

.contacts-tel {
  margin: 0;
  margin-bottom: 35px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}

.write-button {
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 45px;
  padding-right: 45px;
  width: 100%;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  background-color: #fb565a;

}

.write-button:hover {
  color: #ffffff;
  background-color: #e74246;
}

.write-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 70px;
  min-height: 80px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  margin-right: 140px;
  padding: 0;
  width: 260px;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 78px;
  height: 78px;
  background-color: #e1e1e1;
  border-radius: 50%;
}

.social-button:hover {
  background-color: #e74246;
}

.social-button:focus {
  background-color: #d7373b;
  fill-opacity: 0.3;
}

.social-text {
  padding-top: 6px;
}

.social-text b {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 11px;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  font-weight: 700;
}

.social-text p {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #444444;
  font-weight: 400;
}

.modal-write-us {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 20;
  display: none;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 65px;
  padding-bottom: 80px;
  width: 960px;
  min-height: 590px;
  background: white;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
          box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
}

.btn-close {
  position: absolute;
  top: 75px;
  right: 90px;
  width: 22px;
  height: 22px;
  font-size: 0;
  border: 0;
  background-color: white;
  cursor: pointer;
}

.btn-close::before,
.btn-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 19px;
  height: 3px;
  background-color: #fecccd;
}

.btn-close::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.btn-close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal-write-us h2 {
  margin: 0;
  margin-bottom: 35px;
  font-size: 45px;
  line-height: 50.4px;
  font-weight: 500;
}

.name-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 35px;
}

.name-email p {
  margin: 0;
}

.user-message {
  margin-top: 0;
  margin-bottom: 47px;
}

.modal-write-us label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}

.lbl-email {
  margin-left: 40px;
}

.modal-write-us input[type="text"],
.modal-write-us input[type="email"],
.modal-write-us textarea {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  color: #b1b1b1;
  background-color: #ffffff;
  border: 2px solid #d7dcde;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.modal-write-us input[type="email"] {
  margin-left: 40px;
}

.modal-write-us input[type="text"],
.modal-write-us input[type="email"] {
  width: 360px;
}

.modal-write-us textarea {
  width: 760px;
  height: 120px;
}

.modal-write-us input[type="text"]:hover,
.modal-write-us input[type="email"]:hover,
.modal-write-us textarea:hover {
  border-color: #b4b9bb;
}

.modal-write-us input[type="text"]:focus,
.modal-write-us input[type="email"]:focus,
.modal-write-us textarea:focus {
  color: #444444;
  border-color: #000000;
}

.modal-write-us input[type="text"]:invalid,
.modal-write-us input[type="email"]:invalid
{
  color: #e74246;
  border-color: #e74246;
}

.modal-write-us input[type="submit"] {
  display: table-cell;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 25px;
  width: 265px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  color: #ffffff;
  background-color: #fb565a;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.modal-write-us input[type="submit"]:hover {
  background-color: #e74246;
  color: #ffffff;
}

.modal-write-us input[type="submit"]:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.inner-page .main-header {
  margin-bottom: 55px;
  padding-bottom: 50px;

}

.inner-page .main-navigation {
  margin-bottom: 15px;
}

.inner-page .main-footer {
  margin-top: 60px;
}

.title {
  text-align: center;
  font-size: 55px;
  line-height: 66px;
  font-weight: 500;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-filter {
  margin-bottom: 50px;
  margin-top: 50px;
  width: 260px;
}

.range-filter legend {
  margin-bottom: 50px;
}

.range-controls {
  position: relative;
  height: 42px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  margin-left: 0;
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
          box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  margin-bottom: 57px;
  font-size: 0;
}

.price-controls label {
  padding-top: 8px;
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  padding: 8px 10px;
  margin-left: 10px;
  width: 60px;
  font: inherit;
  font-size: 16px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  margin-left: 35px;
}

.layout-filter legend {
  margin-bottom: 15px;
}

.list-layout li {
  padding-bottom: 3px;
  padding-top: 14px;
}

.radio-control {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-left: 35px;
  cursor: pointer;

}

.radio-control:hover,
.radio-control:focus {
  color: #4d4d4d;
}

.radio-control-indicator + .radio-control::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 5px;
  width: 28px;
  height: 28px;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  border-radius: 50%;
  opacity: 0.3;
}

.radio-control-indicator:checked + .radio-control::before {
  content: "";
  width: 28px;
  height: 28px;
  position: absolute;
  top: 0px;
  left: 5px;
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  border-radius: 50%;
  opacity: 0.3;
}

.features-filter {
  margin-top: 43px;
}

.list-features {
  margin-top: 17px;
  margin-bottom: 33px;
}

.list-features li {
  padding-bottom: 16px;
}

.checkbox-control {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-left: 35px;
  cursor: pointer;
}

.checkbox-control:hover,
.checkbox-control:focus {
  color: #4d4d4d;
}

.checkbox-control-indicator + .checkbox-control::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 5px;
  width: 28px;
  height: 28px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.checkbox-control-indicator:checked + .checkbox-control::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 5px;
  width: 28px;
  height: 28px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.radio-control-indicator:focus + .radio-control::before,
.checkbox-control-indicator:focus + .checkbox-control::before,
.radio-control-indicator:checked:focus + .radio-control::before,
.checkbox-control-indicator:checked:focus + .checkbox-control::before,
.radio-control-indicator:not(:disabled) + .radio-control:hover::before,
.checkbox-control-indicator:not(:disabled) + .checkbox-control:hover::before,
.radio-control-indicator:checked:not(:disabled) + .radio-control:hover::before,
.checkbox-control-indicator:checked:not(:disabled) + .checkbox-control:hover::before {
  opacity: 1;
}

.radio-control-indicator:disabled + .radio-control::before,
.checkbox-control-indicator:disabled + .radio-control::before,
.radio-control-indicator:checked:disabled + .radio-control::before,
.checkbox-control-indicator:checked:disabled + .checkbox-control::before {
  opacity: 0.1;
}

.button-show {
  color: #000000;
  background-color: #eeeeee;
  width: 100%;
}

.button-show:hover {
  background-color: #dfdfdf;
}


.button-show:active {
  background-color: #d5d5d5;
  color: #a9a9a9;
}

.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 53px;
}

.sort-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: -3px;
  width: 360px;
}

.sort-list > li {
  margin-left: 25px;
}

.sort-list > li:first-child {
  margin-left: 0;
}

.sort-list > li:last-child {
  margin-right: 0;
  margin-left: auto;
}

.sort b {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.sort-list a {
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}

.sort-list a:hover,
.sort-list a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sort-list a:active {
  color: #000000;
}

.sort-list .selected a {
  color: #000000;
}

.sort-arrows > li {
  display: inline-block;
  vertical-align: top;
}

.sort-arrows > li:first-child {
  margin-right: 15px;
}

.btn-down a,
.btn-up a {
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 12px;
  opacity: 0.3;
}

.btn-down a {
  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
}

.btn-up a {
  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
}

.btn-down a:hover,
.btn-up a:hover,
.btn-down a:focus,
.btn-up a:focus {
  opacity: 0.6;
}

.btn-down a:active,
.btn-up a:active {
  opacity: 1;
}

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.templates {
  width: 760px;
}

.templates-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 30px;
}

.catalog-item {
  position: relative;
  margin-bottom: 27px;
  width: 360px;
  height: 620px;
}

.catalog-item::before {
  content: "";
  display: inline-block;
  vertical-align: top;
  padding: 0;
  height: 40px;
  width: 360px;
  background: url(../img/browser.svg) no-repeat;
  opacity: 0.3;
}

.catalog-item:hover:before {
  opacity: 1;
}

.catalog-item-details {
  position: absolute;
  bottom: 4px;
  display: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 25px;
  padding-right: 60px;
  padding-left: 60px;
  padding-bottom: 45px;
  width: 360px;
  max-height: 570px;
  background-color: #eeeeee;
  text-align: center;
}

.catalog-item-details h3 {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.catalog-item-details .catalog-text {
  overflow-y: auto;
  margin-bottom: 30px;
  max-width: 240px;
  max-height: 380px;
  line-height: 18px;
  color: #666666;
}

.catalog-item-details .button {
  display: inline-block;
  vertical-align: bottom;
  width: 95px;
  text-align: center;
}

.catalog-item-details .button:hover {
  background-color: #e74246;
}

.catalog-item-details .button:focus {
  background-color: #d7373b;
}

.catalog-item:hover .catalog-item-details {
  display: block;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pagination-item {
  margin-right: 12px;
}

.pagination-item a {
  display: inline-block;
  vertical-align: bottom;
  padding-top: 13px;
  padding-left: 17px;
  padding-bottom: 13px;
  padding-right: 17px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;
  background-color: #eeeeee;
  border: 3px solid #eeeeee;
  border-radius: 3px;

}

.pagination-item:last-child a {
  padding-left: 75px;
  padding-right: 75px;
}

.current-item a {
  background-color: #ffffff;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: #dfdfdf;
  border-color: #dfdfdf;
}

.pagination-item a:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
  border-color: #d5d5d5;
  border-top-color: #bfbfbf;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}