/*параметры шрифта
regular 400
medium 500
bold 700
*/


body {
  margin: 0;
  padding: 0;
  
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  
  background-color: #ffffff;

}
/* Здесь будут стили для внутренней страницы */
.inner-page {
}

/* Служебные стили*/
img {
  max-width: 100%;
  height: auto;
}

a { text-decoration: none; }

.text-uppercase { text-transform: uppercase; }

.list-unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Общие стили для кнопок*/
.button {
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  display: table-cell;
  color: #ffffff;
  background-color: #fb565a;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.button:active,
.button:focus { color: rgba(255, 255, 255, 0.3); }

/* Блок центровщик*/
.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

/* Шапка сайта */
.main-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 82px;
  padding-top: 48px;
  /* Временно для сетки */
  min-height: 543px;
  /* серый фон блока с меню и слайдера*/
  background-color: #eeeeee;
}

/* отобразили блоки навигации (логотип, меню и корзину) в ряд*/
.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  background-color: #eeeeee;
}

.main-header-logo {
  width: 160px;
  height: 65px;
  /* временно для сетки */ 
  display: block;
}

.main-header-logo:hover img,
.main-header-logo:focus img {
	 opacity: 0.8;
}

.main-header-logo:active img {
	 opacity: 0.3;
}

/* 
  Добавили обертку для навигации сайта 
  и корзины для выравнивания по вертикали
*/
.main-navigation-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 800px;
  min-height: 50px;
}

/* установили ширину из шаблона и запихали в эту ширину список из пунктов меню*/
.site-navigation {
  padding:0;
  margin: 0;
  width: 440px;
  text-align: center;
}

/* 
    отобразили элементы списока меню в ряд,
    добавили отступ слева для элементов
*/
.site-navigation li {
  margin-left:  42px;
  display: inline;
}

/* убрали отступ слева для первого элемента*/
.site-navigation li:first-child { margin-left: 0; }

/* состояния для ссылок в меню*/
/* покой*/
.site-navigation a,
a.cart {
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  font-weight: 500;
}

/* наведение*/
.site-navigation a:hover,
a.cart:hover {
  color: #fb565a;
}

/* нажатие*/
.site-navigation a:active,
.site-navigation a:focus, 
a.cart:active,
a.cart:focus {
  color: rgba(0, 0, 0, 0.3);
}

/* активный, находимся на странице */
.site-navigation a.active,
a.cart.active {
  border-bottom: 2px solid #fb565a;
}

a.cart {
  /*Стилизация для ссылки*/
}

/* Слайдер в шапке*/
.slider {
  /* временно для сетки */
  display: flex;
  min-height: 430px;
  /* серый фон блока с меню и слайдера*/
  background-color: #eeeeee;
}

.slide {
}

.slide:nth-of-type(1) {
  background-image: url("../img/nerds-index-slide1.png");
  background-repeat: no-repeat;
}

.slide:nth-of-type(2) {
  background-image: url("../img/nerds-index-slide2.png");
  background-repeat: no-repeat;
}

.slide:nth-of-type(3) {
  background-image: url("../img/nerds-index-slide3.png");
  background-repeat: no-repeat;
}

.slide b {
  font-size: 55px;
  line-height: 66px;
  font-weight: 500;  
}

.slide p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;  
}

.slider-button {
  background-color: #fb565a;
}

.slider-button:hover {
  background-color: #e74246;
}

.slider-button:active,
.slider-button:focus, {
  background-color: #d7373b;
}

/* Основное содержимое */

/* Раздел Услуги */
.services {
  /* временно для сетки */
}

.services-list {
  display:flex;
  justify-content: space-between;
  min-height: 500px;
}

.service-site,
.service-application, 
.service-presentation {
	width:305px;
}
/* заголовки в наименованиях всех услуг */
.services h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}


/* параметры шрифта в текстовом блоке для всех услуг */
.services p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;   
}

/* блок правил для заказа сайта */
.service-site {
  background-image: url("../img/illustration-1.jpg");
  background-repeat: no-repeat;
}

.order-site-button {
  background-color: #fb565a;
}

.order-site-button:hover {
  background-color: #e74246;
}

.order-site-button:active{
  background-color: #d7373b;
  
}

/* блок правил для заказа приложения*/
.service-application {
  background-image: url("../img/illustration-2.jpg"); 
  background-repeat: no-repeat;
}

.order-application-button {
  background-color: #00ca74;
}

.order-application-button:hover {
  background-color: #00bc6c;
}

.order-application-button:active{
  background-color: #00aa62;
}

/* блок правил для заказа презентации*/
.service-presentation {
  background-image: url("../img/illustration-3.jpg"); 
  background-repeat: no-repeat;
}

.order-presentation-button {
  background-color: #efc84a;
}

.order-presentation-button:hover {
  background-color: #eab534;
}

.order-presentation-button:active{
  background-color: #e5a722;
}

/* Секция "О нас" */
.studio {
  display: flex;
  min-height: 500px;
  border-top: 2px solid #eeeeee;
}

/* блок правил раздела Студия*/
.studio-left b {
  font-size: 45px;
  line-height: 50.4px;
  font-weight: 500;
}

.studio-left p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.studio-left h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.studio-left li {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.studio-right {
  /* Примерно для сетки*/
  padding-top: 370px;
  background-image: url("../img/nerds-illustration.jpg");
  background-repeat: no-repeat;
}

.studio-table caption {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700; 
  text-transform: uppercase;
}

.stydio-table-percent > td {
  font-size: 45px;
  line-height: 54px;
  font-weight: 700;   
}

.stydio-table-percent tr {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;     
}

/* Секция "Партнеры"*/

.partner-list {
  display: flex;
  min-height: 200px;	
}

/* Подвал сайта*/

.main-footer {
}

.footer-map {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.footer-social {
  display: flex;
  justify-content: space-between;
}


.social-list {
  width: 280px;
  min-height: 100px;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* блок правил для футера*/
.contacts b {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;	
  text-transform: uppercase;
}

.addres p {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;			
}

.write-button {
  background-color: #fb565a;
  color: #ffffff;
}

.write-button:hover {
  background-color: #e74246;
  color: #ffffff;
}

.write-button:active {
  background-color: #d7373b;
  color: #e48789;
}

.footer-social b {
  font-size: 36px;
  line-height: 43.2px;
  font-weight: 700;
}

.footer-social p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;	
}

.social-button-vk {
  background-image: url("../img/vk-icon.svg");
  background-repeat: no-repeat;
}

.social-button-fb {
  background-image: url("../img/fb-icon.svg");
  background-repeat: no-repeat;
}

.social-button-inst {
  background-image: url("../img/insta-icon.svg");
  background-repeat: no-repeat;
}

/* блок правил для модального окна*/
.modal-write-us h2 {
  font-size: 45px;
  line-height: 50.4px;
  font-weight: 500;	
}

.modal-write-us label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

.modal-write-us input[type="text"],
.modal-write-us input[type="email"],
.modal-write-us textarea {
  font-size: 16px;
  line-height: 18px;
  color: #b1b1b1;
  background-color: #ffffff;
  border: 2px solid #d7dcde;
  border-radius: 2px;
}

.modal-write-us input[type="text"]:hover,
.modal-write-us input[type="email"]:hover,
.modal-write-us textarea:hover {
  border-color: #b4b9bb;
}

.modal-write-us input[type="text"]:focus,
.modal-write-us input[type="email"]:focus,
.modal-write-us textarea:focus {
  color: #444444;
  border-color: #000000;
}

.modal-write-us input[type="text"]:invalid,
.modal-write-us input[type="email"]:invalid, {
  color: #e74246;
  border-color: #e74246;
}

.modal-write-us input[type="submit"] {
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  display: table-cell;
  color: #ffffff;
  background-color: #fb565a;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.modal-write-us input[type="submit"]:hover {
  background-color: #e74246;
  color: #ffffff;
}

.modal-write-us input[type="submit"]:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}


/* блок правил для внутренней  страницы*/
.inner-page .main-header {
  min-height: 355px;
}
/*Заголовок h1 отображается только на внутренней странице */
.title {
  text-align: center;
  font-size: 55px;
  line-height: 66x;
  font-weight: 500;  
}

/* Фильтр*/
.template-filter fieldset,
.template-filter input {
  border: none;
}

.template-filter input {
  font-size: 16px;
  line-height: 20px;
}

.fieldset-price input {
  font-size: 16px;
  line-height: 22px;
  background-color: #eeeeee;
}

.template-filter legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.fieldset-type .fieldset-features label {
  font-size: 16px;
  line-height: 20px;	
}

.button-show {
  color: #ffffff;
  background-color: fb565a;
}

.button-show:hover {
  background-color: #e74246;
}

.button-show:active {
  background-color: #d7373b;
  color: #e48789;
}

.sort a {
  font-size: 14px;
  line-height: 18px;
  color: cacaca;
  text-transform: uppercase;
}

.sort .current {
  color: #000000;
}

/* каталог*/
.selected-item {
  background-color: #eeeeee;
}

.catalog-item a {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.catalog-item p {
  line-height: 18px;
  color: #666666;
}

/* постраничная навигация*/
.pagination-item a {
  line-height: 18px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
}

.pagination-item-current {
  background-color: #ffffff;
  border: 2px solid #dbdbdb;
}

.pagination-list li:hover,
.pagination-list li:focus {
  background-color: #dfdfdf;
  border: none;
}

.pagination-list li:active {
  background-color: #d5d5d5;
  border: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

