/*параметры шрифта
regular 400
medium 500
bold 700
*/


body {
  margin: 0;
  padding: 0;
  
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  
  background-color: #ffffff;

}
/* Здесь будут стили для внутренней страницы */
.inner-page {
}

/* Служебные стили*/
img {
  max-width: 100%;
  height: auto;
}

a { text-decoration: none; }

.text-uppercase { text-transform: uppercase; }

.list-unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Общие стили для кнопок*/
.button {
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  display: table-cell;
  color: #ffffff;
  background-color: #fb565a;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  padding: 16px 53px;
  border-radius: 4px;
}

.button:active,
.button:focus { color: rgba(255, 255, 255, 0.3); }



/* Блок центровщик*/
.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

/* Шапка сайта */
.main-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 82px;
  /* Временно для сетки */
  min-height: 545px;
  background-color: #eeeeee;
}

/* отобразили блоки навигации (логотип, меню и корзину) в ряд*/
.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 50px;
  min-height: 70px;
  background-color: #eeeeee;
}

.main-header-logo {
  width: 160px;
  height: 65px;
  /* временно для сетки */ 
  display: block;
}

.main-header-logo:hover img,
.main-header-logo:focus img {
	 opacity: 0.8;
}

.main-header-logo:active img {
	 opacity: 0.3;
}

/* 
  Добавили обертку для навигации сайта 
  и корзины для выравнивания по вертикали
*/
.main-navigation-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 33px;
  width: 800px;
  min-height: 37px;
}

/* установили ширину из шаблона и запихали в эту ширину список из пунктов меню*/
.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding:0;
  margin: 0;
  width: 440px;
  text-align: center;
}

/* 
    отобразили элементы списока меню в ряд,
    добавили отступ слева для элементов
*/
.site-navigation li {
  margin-left:  45px;
  height: 38px;
  text-align: left;
}
/* Уберем отступ у 1 и каждого 5-го элемента */
.site-navigation li:nth-of-type(4n+1) {
  margin-left: 0;
}

/* состояния для ссылок в меню*/
/* покой*/
.site-navigation a,
a.cart {
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  font-weight: 500;
  border-bottom: 2px solid transparent;
}

/* наведение*/
.site-navigation a:hover,
a.cart:hover {
  color: #fb565a;
}

/* нажатие*/
.site-navigation a:active,
.site-navigation a:focus, 
a.cart:active,
a.cart:focus {
  color: rgba(0, 0, 0, 0.3);
}

/* активный, находимся на странице */
.site-navigation a.active,
a.cart.active {
  border-color: #fb565a;
}

a.cart {
  /*Стилизация для ссылки*/
}

/* Слайдер в шапке*/
.slider {
  /* временно для сетки */
  display: flex;
  min-height: 430px;
  /* серый фон блока с меню и слайдера*/
  background-color: #eeeeee;
}

.slide {
  min-height: 430px;
}

.slide:nth-of-type(1) {
  background-image: url("../img/nerds-index-slide1.png");
  background-repeat: no-repeat;
}

.slide:nth-of-type(2) {
  background-image: url("../img/nerds-index-slide2.png");
  background-repeat: no-repeat;
}

.slide:nth-of-type(3) {
  background-image: url("../img/nerds-index-slide3.png");
  background-repeat: no-repeat;
}

.slide b {
  font-size: 55px;
  line-height: 66px;
  font-weight: 500;  
}

.slide p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;  
}

.slider-button {
  background-color: #fb565a;
}

.slider-button:hover {
  background-color: #e74246;
}

.slider-button:active,
.slider-button:focus, {
  background-color: #d7373b;
}

/* Основное содержимое */

/* Раздел Услуги */
.services {
  min-height: 350px;
  margin-bottom: 80px;
}

.services-list {
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.service-site,
.service-application, 
.service-presentation {
  padding-top: 150px;
  width: 305px;
  min-height: 178px;
}

/* заголовки в наименованиях всех услуг */
.services h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}


/* параметры шрифта в текстовом блоке для всех услуг */
.services p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;   
}

/* блок правил для заказа сайта */
.service-site {
  background-image: url("../img/illustration-1.jpg");
  background-repeat: no-repeat;
}

.order-site-button {
  background-color: #fb565a;
}

.order-site-button:hover {
  background-color: #e74246;
}

.order-site-button:active{
  background-color: #d7373b;
}

/* блок правил для заказа приложения*/
.service-application {
  background-image: url("../img/illustration-2.jpg"); 
  background-repeat: no-repeat;
}

.order-application-button {
  background-color: #00ca74;
}

.order-application-button:hover {
  background-color: #00bc6c;
}

.order-application-button:active{
  background-color: #00aa62;
}

/* блок правил для заказа презентации*/
.service-presentation {
  background-image: url("../img/illustration-3.jpg"); 
  background-repeat: no-repeat;
}

.order-presentation-button {
  background-color: #efc84a;
}

.order-presentation-button:hover {
  background-color: #eab534;
}

.order-presentation-button:active{
  background-color: #e5a722;
}

/* Секция "О нас" */
.studio {
  display: flex;
  justify-content: space-between;
  margin-bottom: 72px;
  padding-top: 42px;
  min-height: 415px;
  border-top: 2px solid #eeeeee;
}

/* блок правил раздела Студия*/
.studio-left {
  width: 760px;
}

.studio-left b {
  font-size: 45px;
  line-height: 50.4px;
  font-weight: 500;
}

.studio-left p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.studio-left h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.studio-left li {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.studio-right {
  /* Примерно для сетки*/
  padding-top: 245px;
  width: 380px;
  background-image: url("../img/nerds-illustration.jpg");
  background-repeat: no-repeat;
}

.studio-table caption {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700; 
  text-transform: uppercase;
}

.stydio-table-percent > td {
  font-size: 45px;
  line-height: 54px;
  font-weight: 700;   
}

.stydio-table-percent tr {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;     
}


/* Секция "Партнеры"*/
.partners {
  min-height: 180px;
  margin-bottom: 80px;
  border-style: solid;
  border-width: 2px 0;
  border-color: #eeeeee;
}

.partners-list {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  min-height: 180px;	
}

/*Состояния для изображений логотипов партнёров*/
.partners-logo img {
	opacity: 0.3;
}

 .partners-logo img:hover {
	 opacity: 1;
}

.partners-logo img:active {
	 opacity: 0.1;
}

/* Подвал сайта*/

.main-footer {
}

.footer-map {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
  max-width: 1440px;
  min-height: 415px;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
  min-height: 80px;
}


.social-list {
  width: 280px;
  min-height: 100px;
}

.footer-map {
  position:relative;	
}

.contacts {
  position: absolute;
  top: 54px;
  z-index: 1;
  padding: 50px;
  width: 318px;
  background-color: #ffffff;
  box-sizing: border-box;
}

/* блок правил для футера*/
.contacts b {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;	
  text-transform: uppercase;
}

.addres p {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;			
}

.write-button {
  margin-top: 17px;
  margin-bottom: 47px;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  background-color: #fb565a;
  color: #ffffff;
  width:220px;
}

.write-button:hover {
  background-color: #e74246;
  color: #ffffff;
}

.write-button:active {
  background-color: #d7373b;
  color: #e48789;
}


/* блок правил для соц.сетей*/
.footer-social {
	display: flex;
	padding: 70px 0;
}


.social-list {
	display: flex;
	justify-content: space-between;
	width: 260px;
	margin: 0;
	margin-right: 140px;
	padding: 0;
}

.social-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 78px;
	height: 78px;
	background-color: #e1e1e1;
	border-radius: 50%;
}

.social-button:hover {
	background-color: #e74246;
}

.social-button:focus {
	background-color: #d7373b;
	fill-opacity: 0.3;
}


.social-text b {
	margin: 0;
	margin-top: 6px;
	margin-bottom: 9px;
	font-size: 36px;
	line-height: 36px;
	color: #000000;
	font-weight: 700;
}

.social-text p {
	margin: 0;
	font-size: 16px;
	line-height: 22px;
	color: #444444;
	font-weight: 400;
}


/* блок правил для модального окна*/
.modal-write-us h2 {
  font-size: 45px;
  line-height: 50.4px;
  font-weight: 500;	
}

.modal-write-us label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

.modal-write-us input[type="text"],
.modal-write-us input[type="email"],
.modal-write-us textarea {
  font-size: 16px;
  line-height: 18px;
  color: #b1b1b1;
  background-color: #ffffff;
  border: 2px solid #d7dcde;
  border-radius: 2px;
}

.modal-write-us input[type="text"]:hover,
.modal-write-us input[type="email"]:hover,
.modal-write-us textarea:hover {
  border-color: #b4b9bb;
}

.modal-write-us input[type="text"]:focus,
.modal-write-us input[type="email"]:focus,
.modal-write-us textarea:focus {
  color: #444444;
  border-color: #000000;
}

.modal-write-us input[type="text"]:invalid,
.modal-write-us input[type="email"]:invalid, {
  color: #e74246;
  border-color: #e74246;
}

.modal-write-us input[type="submit"] {
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  display: table-cell;
  color: #ffffff;
  background-color: #fb565a;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.modal-write-us input[type="submit"]:hover {
  background-color: #e74246;
  color: #ffffff;
}

.modal-write-us input[type="submit"]:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}


/* блок правил для внутренней  страницы*/
.inner-page .main-header {
  min-height: 355px;
}

.inner-page .main-navigation { 
  margin-bottom: 75px; 
}
/*Заголовок h1 отображается только на внутренней странице */
.title {
  margin-top: 0;
  text-align: center;
  font-size: 55px;
  line-height: 66x;
  font-weight: 500;
}

.catalog {
  display: flex;
  justify-content: space-between;
}

/* Фильтр*/
.template-filter {
  width: 260px;
}

.template-filter fieldset,
.template-filter input {
  border: none;
}

.template-filter input {
  font-size: 16px;
  line-height: 20px;
}

.fieldset-price input {
  font-size: 16px;
  line-height: 22px;
  background-color: #eeeeee;
}

.template-filter legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.fieldset-type .fieldset-features label {
  font-size: 16px;
  line-height: 20px;	
}

.button-show {
  color: #ffffff;
  background-color: fb565a;
}

.button-show:hover {
  background-color: #e74246;
}

.button-show:active {
  background-color: #d7373b;
  color: #e48789;
}

.sort {
  display: flex;
  justify-content: space-between;
}

.sort-list {
  display: flex;
  flex-wrap: wrap;
  width: 360px;
}

.sort a {
  font-size: 14px;
  line-height: 18px;
  color: cacaca;
  text-transform: uppercase;
}

.sort .current {
  color: #000000;
}

/* каталог*/

.templates {
  width: 760px;
}

.templates-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.catalog-item {
  margin-bottom: 35px;
  width: 360px;
  min-height: 230px;
}

.selected-item .catalog-item-text {
  box-sizing: border-box;
  width: 100%;
  background-color: #eeeeee;
}

.catalog-item .templates-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.catalog-item p {
  line-height: 18px;
  color: #666666;
}

/* постраничная навигация*/
.pagination-item a {
  line-height: 18px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
}

.pagination-item-current {
  background-color: #ffffff;
  border: 2px solid #dbdbdb;
}

.pagination-list li:hover,
.pagination-list li:focus {
  background-color: #dfdfdf;
  border: none;
}

.pagination-list li:active {
  background-color: #d5d5d5;
  border: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
